# Build and runtime outputs
dist/
.astro/
.output/

# Dependencies
node_modules/

# Environment variables & secrets
.env
.env.*
!.env.example

# Logs and cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.turbo/

# OS and Editor metadata
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
